/* colors
graycolor: #545454
orangecolor: #ff5b35;
*/
@font-face {
  font-family: "danaLight";
  src: url("../fonts/dana-light/fonts/dana-light.ttf"),
    url("../fonts/dana-light/fonts/dana-light.otf"),
    url("../fonts/dana-light/fonts/dana-light.woff");
}
@font-face {
  font-family: "danaBold";
  src: url("../fonts/dana-ultrabold/fonts/dana-ultrabold.ttf"),
    url("../fonts/dana-ultrabold/fonts/dana-ultrabold.otf"),
    url("../fonts/dana-ultrabold/fonts/dana-ultrabold.woff");
}
@font-face {
  font-family: "danaMed";
  src: url("../fonts/dana-medium/fonts/dana-medium.ttf"),
    url("../fonts/dana-medium/fonts/dana-medium.otf"),
    url("../fonts/dana-medium/fonts/dana-medium.woff");
}
@font-face {
  font-family: "danaReg";
  src: url("../fonts/dana-regular/fonts/dana-regular.ttf"),
    url("../fonts/danadana-regular/fonts/dana-regular.otf"),
    url("../fonts/danadana-regular/fonts/dana-regular.woff");
}

*::before,
*,
*::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "danaLight", Arial, Helvetica, sans-serif;
}
.container {
  width: 128rem;
  margin: 0 auto;
}

/* ////////////////////////////////////////////////////// */
/* header styles start from here */
/* ////////////////////////////////////////////////////// */

/* ****** nav styles ****** */
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: center;
  margin-top: 1.5rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.nav-logo__svg {
  transition: all 300ms;
}
.nav-logo__svg:hover .nav-logo__svg-black {
  fill: #ff5b35;
}
.nav-logo__svg:hover .nav-logo__svg-orange {
  fill: #000;
}
.nav-links__list {
  display: flex;
  gap: 2.2rem;
  font-family: "danaReg";
  font-size: 1.5rem;
}
.nav-links__list-link:link,
.nav-links__list-link:visited {
  color: #545454;
  transition: all 150ms;
}
.nav-links__list-link:hover,
.nav-links__list-link:active {
  color: #ff5b35;
}

.nav-btn__link:link,
.nav-btn__link:visited {
  color: #fff;
  background-color: #ff5b35;
  padding: 1.1rem 3.8rem;
  font-size: 1.5rem;
  border-radius: 8px;
}
.nav-btn {
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 25px 20px -20px;
}
.nav-btn:hover,
.nav-btn:active {
  transform: perspective(5rem) translateZ(-0.12rem);
}
/* ****** header section styles ****** */
.header-section {
  background-image: url(../image/header-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.5rem;
  padding: 4.8rem 0 9.8rem;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 25px 20px -20px;
}
.header-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-section__content-wrapper {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  border-radius: 3rem;
  padding: 4rem 3rem;
  width: 85%;
}
.heading-primary {
  font-family: "danaMed";
  color: #fff;
  font-size: 5.4rem;
}
.heading-secondary {
  font-family: "danalight";
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 3.6rem;
}

.header-section__image {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.header-section__image-photo {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translateX(-80%);
  width: 30%;
  border-radius: 2rem;
}
/* btns */

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
  row-gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.btns__btn:link,
.btns__btn:visited {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr;
  padding: 1.4rem;
  font-size: 1.6rem;
  gap: 0.6rem;
  font-family: "danaReg";
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
}
.btns__btn:last-child {
  grid-column: 1/-1;
  justify-self: center;
}
.btns__btn--fill:link,
.btns__btn--fill:visited {
  background-color: #fff;
  color: #000;
  border: none;
}

.btns__btn-icon {
  justify-self: center;
}
.btns__btn-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  stroke-width: 99999999;
  fill: #fff;
  color: #fff;
}
.btns__btn-icon-svg--fill {
  fill: #000;
  color: #000;
}
.btns__btn-icon-svg--downArrow {
  height: 2.2rem;
}
/* ****** service section styles ****** */
.service-section {
  padding: 9.8rem 0;
}
.heading-tertiary {
  font-family: "danaMed";
  font-size: 3.6rem;
  margin-bottom: 4.2rem;
}
.service-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.6rem;
}
.service-item:link,
.service-item:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  color: #545454;
}
.service-item:hover .service-image,
.service-item:active .service-image {
  opacity: 1;
}
.service-image {
  height: 5rem;
  opacity: 0.7;
}
.service-text {
  font-size: 1.6rem;
  font-family: "danaReg";
}
/* service content box style */
.service-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.2rem;
}
.heading-fourtary {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
}
.service-content__text-content {
  font-size: 1.8rem;
  font-family: "danaReg";
  line-height: 3.2rem;
  text-align: justify;
  width: 90%;
}
.service-content__image-img {
  width: 100%;
  height: 100%;
}
/*

.service-content{}

.service-content__text {
}



 */
